// colors
$color-h1: #333333;
$color-main-text-dark: #010101;
$color-main-text-light: #ffffff;
$color-sub-text: #848484;
$color-action-button-text-blue: #1c70ed;
$color-action-button-text-red: #f63c3c;

$color-background: #ffffff;
$color-background-header-footer: #f9fbfc;

$color-footer-links: #3d94ff;
$color-footer-links-hover: #f64a4a;

$color-cart-button: #0db97a;
$color-user-action-button: #05956b;

$label-color: #919699;

$color-cart-steps-background: hsl(0, 0, 90);

$color-carot: #ff5757;
$colot-carot-dark: #e64646;
$color-brightblue: #2178fa;
$color-deepblue: #1547ff;
$color-green: #0db97a;
$color-grey: #eee;
$new-grey: #bec3c6;
$color-yellow: #ffc62e;
$light-yellow: #f8f7ee;

// sizes
$block-radius: 12px;
$height-header: 184px;
$height-footer: 250px;

$view-port: 1200px;
$slim-view-port: 900px;
$mobile-width: 820px;

$height-regularbtn: 48px;
$borderradius-regularbbtn: 100px;